<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>HTML makeup</title>
        <!--[if lt IE 9]> 
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
        <link href="../CSS/index.css" rel="stylesheet" />
    </head>
    
    <body>
        <div id="page-align">
            <header>
                <div class="logo-area">
                    <div class="logotype"></div>
                    <h1 class="site-name">
                        <a href="#">Site Name</a>
                    </h1>
                    <span class="caption">caption goes here</span>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
            
            <section class="banner">
                <div class="container banner-container">
                    <div><h2>Alivuam tinc</h2></div>
                    <div><h2>Nunc dignissim risus id metus</h2></div>
                </div>
            </section>
            <section class="main-title">
                <div class="container main-title-container ">
                    <h3>Morbi Interdum mollis sapien edac risus</h3>
                    <p>Integer vitae libero ac risus egestas                         placerat lectus arcu pulvinar risus                         vitae facilisis libero dolor a purus
                    </p>
                    <div>
                        <button class="btn">Lorem Ipsum</button>
                        <button class="btn">Vivamus sin</button>
                    </div>
                </div>
            </section>
            <section class="row1"></section>
            <section class="row2"></section>
            <section class="row3"></section>
            
            <footer>
                <div class="container footer-container">
                    <p>Copyright(c) website name. Designed by: www.alltemplateneeds.com  /  Images from: www.wallpaperswide.com, www.photorack.net</p>
                </div>
            </footer>
        </div>
    </body>
</html>