@font-face {
    font-family: 'FontAwesome';
    src: url('../Fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../Fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), 
         url('../Fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), 
         url('../Fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
         url('../Fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url("../Fonts/sourcesanspro-regular-webfont.eot");
    src: url('../Fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../Fonts/sourcesanspro-regular-webfont.woff') format('woff'), 
         url('../Fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), 
         url('../Fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('../Fonts/sourcesanspro-light-webfont.eot');
    src: url('../Fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../Fonts/sourcesanspro-light-webfont.woff') format('woff'), 
         url('../Fonts/sourcesanspro-light-webfont.ttf') format('truetype'), 
         url('../Fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_problack';
    src: url('../Fonts/sourcesanspro-black-webfont.eot');
    src: url('../Fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../Fonts/sourcesanspro-black-webfont.woff') format('woff'), 
         url('../Fonts/sourcesanspro-black-webfont.ttf') format('truetype'), 
         url('../Fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}