@import url("font-faces.css");
@import url("fonts.css");
@import url("buttons.css");

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    background: url(../Images/bg.png) #cacaca;
}

#page-align {
    width: 1170px;
    margin: 75px auto;
    -moz-box-shadow: 0px 0px 24px #000000;
    -o-box-shadow: 0px 0px 24px #000000;
    -webkit-box-shadow: 0px 0px 24px #000000;
    -ms-box-shadow: 0px 0px 24px #000000;
    box-shadow: 0px 0px 24px #000000;
}

header {
    height: 80px;
    border-top: solid 5px #fdbd1f;
    background: #ffffff;
}

.logo-area {
    position: relative;
}

.site-name {
    position: absolute;
    left: 66px;
    top: 24px;
    font: 19px source_sans_problack;
}

header h1 a {
    display: block;
    color: #9e8e92;
}

header h1.site-name:before {
    position: absolute;
    left: -43px;
    top: 4px;
    font: 31px FontAwesome;
    content: "\f0a2";
    color: #fdbd1f;
}

.caption {
    position: absolute;
    left: 66px;
    top: 41px;
    font: 15px source_sans_prolight;
    color: #ada0a3;
}

header nav {
    float: right;
    font: 13px source_sans_proregular;
}

    header nav ul {
        list-style: none;
    }

        header nav ul li {
            float: left;
            text-transform: uppercase;
        }

            header nav ul li a {
                color: #9e8e92;
                line-height: 80px;
                padding: 0px 24px;
                display: block;
            }

                header nav ul li a:hover {
                    color: #ffffff;
                    background: #fdbd1f;
                }
.container {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.banner {
    position: relative;
    background: url(../Images/bg-banner.png);
    height: 440px;
}
.banner-container {
    width: 70%;
    height: 17%;
}
.banner-container h2 {
    padding: 9px;
    display: inline-block;
    letter-spacing: 2px;
}

.main-title {
    position: relative;
    background: #fdbd1f;
    height: 272px;
}
.main-title-container {
    width: 50%;
    height: 60%;
}

.row1 {
    position: relative;
    background: #ffffff;
    height: 305px;
}
.container-horizontal {
    height: inherit;
    float: left;
}
.tab-horizontal {
    float: left;
}
.description1 {
    width: 70%;
    margin-left: 40px;
}
.text {
    padding: 15px 0px;
}

.row2 {
    position: relative;
    background: #ab6f80;
    height: 350px;
}
.description2 {
    width: 68%;
    margin-left: 59px;
}

.row3 {
    position: relative;
    background: #ffffff;
    height: 546px;
}
.content3 {
    width: 700px;
    height: 430px;
    text-align: center;
}
.slider {
    width: 598px;
    height: 278px;
    background: url("../Images/bg-pc.png") no-repeat center;
    margin: 20px auto;
    line-height: 223px;
}
.control {
    display: inline-block;
}
.screen {
    width: 251px;
    height: 167px;
    margin-top: 28px;
    background: #fdbd1f;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.item {
    width: 251px;
    height: 167px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

footer {
    position: relative;
    height: 110px;
    background: #f0f0f0;
}
.footer-container {
    height: 25%;
}

a {
    text-decoration: none;
}

/*///////////////////////////////////helpers*/
.no-horiz-margin {
    margin-left: 0px;
    margin-right: 0px;
}
.center {
    /*margin: 0 auto;
    display: block;*/

    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.with-separate {
    border-right: 1px solid #e2e2df;
}
.centralize1 {
    margin: 40px 0px 50px 50px;
}
.centralize2 {
    padding: 60px 75px 59px 61px;
}
.half {
    width: 49%;
}
/*///////////////////////////////////helpers*/