@import url("font-faces.css");
@import url("fonts.css");
@import url("buttons.css");

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    background: url(../Images/bg.png) #cacaca;
}

a {
    text-decoration: none;
}

#page-align {
    width: 1170px;
    margin: 75px auto;
    -moz-box-shadow: 0px 0px 24px #000000;
    -webkit-box-shadow: 0px 0px 24px #000000;
    -o-box-shadow: 0px 0px 24px #000000;
    -ms-box-shadow: 0px 0px 24px #000000;
    box-shadow: 0px 0px 24px #000000;
}

/*///////////////////////////////////header*/
header {
    height: 80px;
    border-top: solid 5px #fdbd1f;
    background: #ffffff;
}
.logo-area {
    position: relative;
}
.site-name {
    position: absolute;
    left: 66px;
    top: 24px;
    font: 19px source_sans_problack;
}
.caption {
    position: absolute;
    left: 66px;
    top: 41px;
    font: 15px source_sans_prolight;
    color: #ada0a3;
}
header h1 a {
    display: block;
    color: #9e8e92;
}
header h1.site-name:before {
    position: absolute;
    left: -43px;
    top: 3px;
    font: 31px FontAwesome;
    content: "\f0a2";
    color: #fdbd1f;
}

header nav {
    float: right;
    font: 13px source_sans_proregular;
}
    header nav ul {
        list-style: none;
    }
        header nav ul li {
            float: left;
            text-transform: uppercase;
        }
            header nav ul li a {
                color: #9e8e92;
                line-height: 80px;
                padding: 0px 24px;
                display: block;
            }
                header nav ul li a:hover {
                    color: #ffffff;
                    background: #fdbd1f;
                }
/*///////////////////////////////////header*/

/*///////////////////////////////////banner*/
.banner {
    position: relative;
    background: url(../Images/bg-banner.png);
    height: 440px;
}
.banner-container {
    width: 70%;
    height: 17%;
    text-align: center;
}
.banner-container h2 {
    padding: 9px;
    display: inline-block;
    letter-spacing: 2px;
}
/*///////////////////////////////////banner*/

/*///////////////////////////////////main-title*/
.main-title {
    background: #fdbd1f;
    height: 272px;
}
.main-title-container {
    width: 500px;
    margin: 0px auto;
    padding: 50px 0px;
    text-align: center;
}
/*///////////////////////////////////main-title*/

/*///////////////////////////////////first-row*/
.first-row {
    position: relative;
    background: #ffffff;
    height: 305px;
    
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
.container-horizontal {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.content1 {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
.description1 {
    flex-basis: 350px;
    margin: 0 40px;
}
/*///////////////////////////////////first-row*/

/*///////////////////////////////////second-row*/
.second-row {
    position: relative;
    background: #ab6f80;
    height: 350px;

    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
}
.content2 {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
.description2 {
    flex-basis: 700px;
    margin-left: 59px;
}
/*///////////////////////////////////second-row*/

/*///////////////////////////////////third-row*/
.third-row {
    position: relative;
    background: #ffffff;
    height: 546px;

    display: flex;
    flex-direction: row;
}
.content3 {
    text-align: center;
    margin: auto;
}
.description3 {
    width: 700px;
}
.slider {
    width: 598px;
    height: 278px;
    background: url("../Images/bg-pc.png") no-repeat center;
    margin: 20px auto;
    line-height: 223px;
}
.screen {
    width: 251px;
    height: 167px;
    margin-top: 28px;
    background: #fdbd1f;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
.item {
    width: 251px;
    height: 167px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
/*///////////////////////////////////third-row*/

/*///////////////////////////////////footer*/
footer {
    position: relative;
    height: 110px;
    background: #f0f0f0;
}
.footer-container {
    width: 77%;
    height: 20%;
    text-align: center;
}
/*///////////////////////////////////footer*/

/*///////////////////////////////////helpers*/
.center {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}
.control {
    display: inline-block;
}
.no-horiz-margin {
    margin-left: 0px;
    margin-right: 0px;
}
.part {
    width: 50%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text {
    padding: 15px 0px;
}
.with-separate {
    border-right: 1px solid #e2e2df;
}
/*///////////////////////////////////helpers*/