@font-face {
    font-family: 'source_sans_proregular';
    src: url("../Fonts/sourcesanspro-regular-webfont.eot");
    src: url('../Fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../Fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('../Fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../Fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../Fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../Fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../Fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../Fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('../Fonts/sourcesanspro-light-webfont.eot');
    src: url('../Fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/sourcesanspro-light-webfont.woff') format('woff'), url('../Fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('../Fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_problack';
    src: url('../Fonts/sourcesanspro-black-webfont.eot');
    src: url('../Fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/sourcesanspro-black-webfont.woff') format('woff'), url('../Fonts/sourcesanspro-black-webfont.ttf') format('truetype'), url('../Fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    background: url(../Images/bg.png) #cacaca;
}

#page-align {
    width: 1170px;
    margin: 75px auto;
    -moz-box-shadow: 0px 0px 24px #000000;
    -o-box-shadow: 0px 0px 24px #000000;
    -webkit-box-shadow: 0px 0px 24px #000000;
    -ms-box-shadow: 0px 0px 24px #000000;
    box-shadow: 0px 0px 24px #000000;
}

header {
    height: 85px;
    border-top: solid 5px #fdbd1f;
    background: #ffffff;
}

    header div.logo-area {
        /*float: left;*/
        position: relative;
    }

    header h1.site-name {
        position: absolute;
        left: 66px;
        top: 24px;
        font: 19px source_sans_problack;
    }

    header h1 a {
        display: block;
        color: #9e8e92;
    }

    header h1.site-name:before {
        position: absolute;
        left: -43px;
        top: 4px;
        font: 31px FontAwesome;
        content: "\f0a2";
        color: #fdbd1f;
    }

    header span.caption {
        position: absolute;
        left: 66px;
        top: 41px;
        font: 15px source_sans_prolight;
        color: #ada0a3;
    }

    header nav {
        float: right;
        font: 13px source_sans_proregular;
    }

        header nav ul {
            list-style: none;
        }

            header nav ul li {
                float: left;
                text-transform: uppercase;
            }

                header nav ul li a {
                    color: #9e8e92;
                    line-height: 85px;
                    padding: 0px 30px;
                    display: block;
                }

                    header nav ul li a:hover {
                        color: #ffffff;
                        background: #fdbd1f;
                    }

footer {
    height: 110px;
    background: #00bfff;
}

a {
    text-decoration: none;
}
